// Key prefixes to be splitted that normally won't be splitted
keys_to_split:
    "confirm"
    "send_feedback"
    "set_pin"
    "shortcut"

// Key prefixes to not split that normally will be splitted
keys_to_not_split:
    "application"
    "cards.card"
    "cards.title"
    "registration.phone"
    "send"
    "settings.use"

// Row filters
// Available filters:
//  - !isEmpty
//  - !eq
//  - !prefix
//  - !suffix
//  - !contains
// Available columns:
//  - key
//  - comment
filters:
	key !isEmpty
	comment !eq "для WP"
	key !prefix "windows"
	key !suffix "wp"
	key !contains "android"
	key !contains "nfc"
